ul{
	list-style-type: none;
	float: left;
	padding: 0;
}
ul li{
	float: left;
	width: 100px;
	background: pink;
	height: 50px;
	border: 1px solid;
	position: relative;
}
a{
	text-decoration: none;
	color: red;
}
ul li ul{
	display: none;
	position:absolute;
	top: 51px;
	left: -1px; 
}
ul li:hover ul{
	display: block;
}